<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>07SicurezzaJWT</display-name>
    <filter>
        <filter-name>JwtAuthFilter</filter-name>
        <filter-class>it.units.progrweb2020.sicurezzajwt.filters.JwtAuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>JwtAuthFilter</filter-name>
        <url-pattern>/private/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>AuthOnly</servlet-name>
        <servlet-class>it.units.progrweb2020.sicurezzajwt.servlets.AuthOnly</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthOnly</servlet-name>
        <url-pattern>/private/AuthOnly</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
      30
    </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
